﻿@model MVC3CustomValidatorsKata.Models.OrdenModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomValidations.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <div>
        @Html.Hidden("idcCliente", Model.Cliente.IDC)
        @Html.TextBoxFor(model => model.Cantidad)
        @Html.ValidationMessageFor(model => model.Cantidad)
    </div>
    <div>
        <input type="submit" value="Crear" />
    </div>
}